[package]
edition = "2021"
name = "impl_error_with_tracing_for_struct_with_get_source_without_get_where_was"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
proc-macro = true

[dependencies]
quote = "1.0.9"
syn = "1.0.75"
