
[submodule "tufa_client"]
	path = tufa_client
	url = https://github.com/kuqmua/tufa_client.git
[submodule "tufa_common"]
	path = tufa_common
	url = git@github.com:kuqmua/tufa_common.git
[submodule "tufa_server"]
	path = tufa_server
	url = https://github.com/kuqmua/tufa_server.git
[submodule "tufa_telegram_bot"]
	path = tufa_telegram_bot
	url = git@github.com:kuqmua/tufa_telegram_bot.git
[submodule "tufa_proc_macros"]
	path = tufa_proc_macros
	url = git@github.com:kuqmua/tufa_proc_macros.git
