[submodule "scripts/git_sync_command"]
	path = scripts/git_sync_command
	url = git@github.com:kuqmua/git_sync_command.git
[submodule "src/tufa_client"]
	path = src/tufa_client
	url = https://github.com/kuqmua/tufa_client.git
[submodule "src/tufa_common"]
	path = src/tufa_common
	url = https://github.com/kuqmua/tufa_common.git
[submodule "src/tufa_server"]
	path = src/tufa_server
	url = https://github.com/kuqmua/tufa_server.git
[submodule "src/tufa_telegram_bot"]
	path = src/tufa_telegram_bot
	url = https://github.com/kuqmua/tufa_telegram_bot.git
[submodule "src/proc_macros/error_display"]
	path = src/proc_macros/error_display
	url = https://github.com/kuqmua/error_display.git
[submodule "src/proc_macros/impl_box_err_source_from_err"]
	path = src/proc_macros/impl_box_err_source_from_err
	url = https://github.com/kuqmua/impl_box_err_source_from_err.git
[submodule "src/proc_macros/gen_enum"]
	path = src/proc_macros/gen_enum
	url = https://github.com/kuqmua/gen_enum.git
[submodule "src/proc_macros/gen_enum_without_values"]
	path = src/proc_macros/gen_enum_without_values
	url = https://github.com/kuqmua/gen_enum_without_values.git
[submodule "src/proc_macros/git_info"]
	path = src/proc_macros/git_info
	url = https://github.com/kuqmua/git_info.git
[submodule "src/proc_macros/impl_display"]
	path = src/proc_macros/impl_display
	url = https://github.com/kuqmua/impl_display.git
[submodule "src/proc_macros/impl_from_for_upper_struct"]
	path = src/proc_macros/impl_from_for_upper_struct
	url = https://github.com/kuqmua/impl_from_for_upper_struct.git
[submodule "src/proc_macros/init_from_env"]
	path = src/proc_macros/init_from_env
	url = https://github.com/kuqmua/init_from_env.git
[submodule "src/proc_macros/provider_kind_from_config"]
	path = src/proc_macros/provider_kind_from_config
	url = https://github.com/kuqmua/provider_kind_from_config.git
[submodule "src/proc_macros/svg_component"]
	path = src/proc_macros/svg_component
	url = https://github.com/kuqmua/svg_component.git
[submodule "src/proc_macros/enum_extension"]
	path = src/proc_macros/enum_extension
	url = https://github.com/kuqmua/enum_extension.git
[submodule "src/proc_macros/struct_field_getter"]
	path = src/proc_macros/struct_field_getter
	url = https://github.com/kuqmua/struct_field_getter.git
[submodule "src/proc_macros/struct_field_setter"]
	path = src/proc_macros/struct_field_setter
	url = https://github.com/kuqmua/struct_field_setter.git
[submodule "src/proc_macros/init_error"]
	path = src/proc_macros/init_error
	url = https://github.com/kuqmua/init_error.git
[submodule "src/proc_macros/impl_display_for_simple_error_enum"]
	path = src/proc_macros/impl_display_for_simple_error_enum
	url = https://github.com/kuqmua/impl_display_for_simple_error_enum.git
[submodule "src/proc_macros/impl_display_for_error_struct"]
	path = src/proc_macros/impl_display_for_error_struct
	url = https://github.com/kuqmua/impl_display_for_error_struct.git
[submodule "src/proc_macros/proc_macro_helpers"]
	path = src/proc_macros/proc_macro_helpers
	url = https://github.com/kuqmua/proc_macro_helpers.git
[submodule "src/proc_macros/impl_get_where_was_one_or_many_one_for_error_struct"]
	path = src/proc_macros/impl_get_where_was_one_or_many_one_for_error_struct
	url = https://github.com/kuqmua/impl_get_where_was_one_or_many_one_for_error_struct.git
[submodule "src/proc_macros/impl_error_with_tracing_for_struct_with_get_source_without_get_where_was"]
	path = src/proc_macros/impl_error_with_tracing_for_struct_with_get_source_without_get_where_was
	url = https://github.com/kuqmua/impl_error_with_tracing_for_struct_with_get_source_without_get_where_was.git
[submodule "src/proc_macros/impl_error_with_tracing_for_struct_with_get_source_with_get_where_was"]
	path = src/proc_macros/impl_error_with_tracing_for_struct_with_get_source_with_get_where_was
	url = https://github.com/kuqmua/impl_error_with_tracing_for_struct_with_get_source_with_get_where_was.git
[submodule "src/proc_macros/impl_error_with_tracing_for_struct_without_get_source"]
	path = src/proc_macros/impl_error_with_tracing_for_struct_without_get_source
	url = https://github.com/kuqmua/impl_error_with_tracing_for_struct_without_get_source.git
[submodule "src/proc_macros/impl_get_where_was_one_or_many_with_method"]
	path = src/proc_macros/impl_get_where_was_one_or_many_with_method
	url = https://github.com/kuqmua/impl_get_where_was_one_or_many_with_method.git
