[package]
authors = ["sergey shmakov <tyfaproject@gmail.com>"] 
edition = "2024" #maybe cant compile but switch from 2018 to 2021
name = "server" 
version = "0.1.0" 
description = "description"
repository = "repository"
readme = "readme"
license = "license"
keywords = ["keyword"]
categories = ["category"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
axum.workspace = true
tower-http.workspace = true
num_cpus.workspace = true
sqlx.workspace = true
tokio.workspace = true
secrecy.workspace = true
tracing-subscriber.workspace = true
git_info = {path = "../git_info"}
app_state = {path = "../app_state"}
common_routes = {path = "../common_routes"}
server_app_state = {path = "../server_app_state"}
server_config = {path = "../server_config"}
server_table_example = {path = "../server_table_example"}

[dev-dependencies]
tokio.workspace = true

[package.metadata.scripts]
restart_docker_compose = "sudo docker-compose down && docker-compose up -d"

[lints]
workspace = true
