[package]
authors = ["sergey shmakov <tyfaproject@gmail.com>"] 
edition = "2024" #maybe cant compile but switch from 2018 to 2021
name = "server" 
version = "0.1.0" 
description = "description"
repository = "repository"
readme = "readme"
license = "license"
keywords = ["keyword"]
categories = ["category"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "server"
path = "src/main.rs"

[dependencies]
axum.workspace = true
tower-http.workspace = true
num_cpus.workspace = true
sqlx.workspace = true
tokio.workspace = true
secrecy.workspace = true
tracing-subscriber.workspace = true
git_info = {path = "../git_info"}
app_state = {path = "../app_state"}
common_routes = {path = "../common_routes"}
server_app_state = {path = "../server_app_state"}
server_config = {path = "../server_config"}
server_table_example = {path = "../server_table_example"}

[dev-dependencies]
tokio = {version = "=1.29.1", features = ["rt", "macros", "rt-multi-thread"]}

# ###########################
# # custom linker dependencies
# # from https://www.lpalmieri.com/posts/session-based-authentication-in-rust/l

# # On Windows 
# # ```
# # cargo install -f cargo-binutils
# # rustup component add llvm-tools-preview
# # ```
# [target.x86_64-pc-windows-msvc]
# rustflags = ["-C", "link-arg=-fuse-ld=lld"]

# [target.x86_64-pc-windows-gnu]
# rustflags = ["-C", "link-arg=-fuse-ld=lld"]

# # On Linux:
# # - Ubuntu, `sudo apt-get install lld clang`
# # - Arch, `sudo pacman -S lld clang`
# [target.x86_64-unknown-linux-gnu]
# rustflags = ["-C", "linker=clang", "-C", "link-arg=-fuse-ld=lld"]

# # On MacOS, `brew install michaeleisel/zld/zld`
# [target.x86_64-apple-darwin]
# rustflags = ["-C", "link-arg=-fuse-ld=/usr/local/bin/zld"]

# [target.aarch64-apple-darwin]
# rustflags = ["-C", "link-arg=-fuse-ld=/usr/local/bin/zld"]

# cargo run-script *script name*
[package.metadata.scripts]
restart_docker_compose = "sudo docker-compose down && docker-compose up -d"

[lints]
workspace = true
