#actual docker-compose now on ubuntu with ryzen 7600 in pg_jsonschema folder
version: '3.3'
services:
  postgres_service:
    container_name: postgres_container
    build:
        context: ../pg_jsonschema
        dockerfile: ../pg_jsonschema/dockerfiles/db/Dockerfile
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
  # postgres_service:
  #   container_name: "postgres_service"
  #   image: pg_jsonschema_postgres_service
  #   restart: always
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: dev
  #   ports:
  #     - 5432:5432
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  # postgres_service:
  #   container_name: postgres_container
  #   image: postgres:16.3
  #   restart: always
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: dev
  #   # env_file:
  #   #   - ./dbs.env
  #   volumes:
  #     - /var/lib/postgresql/data:/var/lib/postgresql/data
  #     # maybe use specific naming
  #   ports:
  #     - 5432:5432
  # mongodb_service:
  #   container_name: mongodb_container
  #   image: mongo:7.0.0
  #   restart: always
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: mongolocalusername
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: mongolocalpassword
  #   # env_file:
  #   #   - ./dbs.env
  #   ports:
  #     - 27017:27017
  # #   volumes:
  # #     - ./volumes/mongodb_volume:/data/db
  #     # maybe instead of local folder create server folder for only this service like /var/lib/docker/volumes/server/mongo_volume:/data/db
  # redis_service:
  #   container_name: redis_container
  #   image: 'redis:7.2.5'
  #   restart: always
  #   ports:
  #     - 6379:6379
  #   environment:
  #     ALLOW_EMPTY_PASSWORD: "yes"
  #   # volumes:
  #   #   - ./volumes/redis_volume/:/data
  #     # maybe instead of local folder create server folder for only this service like /var/lib/docker/volumes/server/redis_volume:/data/db
  # # server_service:
  # #   container_name: server-container
  # #   image: server-image
  # #   restart: always
  # #   ports:
  # #     - 8000:8000
  # #   env_file:
  # #     - ./.env
  # #   environment:
  # #     SERVER_PORT: ${SERVER_PORT}

  # #     TIMEZONE: ${TIMEZONE}

  # #     REDIS_IP: ${REDIS_IP}
  # #     REDIS_PORT: ${REDIS_PORT}

  # #     MONGO_URL: ${MONGO_URL}

  # #     DATABASE_URL: ${DATABASE_URL}

  # #     STARTING_CHECK_LINK: ${STARTING_CHECK_LINK}

  # #     TRACING_LEVEL: ${TRACING_LEVEL}
  # #     SOURCE_PLACE_TYPE: ${SOURCE_PLACE_TYPE}
volumes:
  postgres_data: