#actual docker-compose now on ubuntu with ryzen 7600 in pg_jsonschema folder
version: '3.3'
services:
  server_service:
    container_name: server-container
    image: server-image
    restart: always
    ports:
      - 8080:8080
    environment:
      SERVICE_SOCKET_ADDRESS: "127.0.0.1:8080"
      DATABASE_URL: "postgres://postgres:postgres@127.0.0.1:5432/dev?connect_timeout=10"
      TIMEZONE: "10800"
      TRACING_LEVEL: "error" # trace|debug|info|warn|error
      SOURCE_PLACE_TYPE: "source" # source|github
      ENABLE_API_GIT_COMMIT_CHECK: "true"
      MAXIMUM_SIZE_OF_HTTP_BODY_IN_BYTES: "1048576000" # 100 megabyte in bytes
  postgresql_16_with_pg_jsonschema_service:
    container_name: postgresql_16_with_pg_jsonschema
    image: ghcr.io/kuqmua/postgresql_16_with_pg_jsonschema
    # build:
    #     context: ../pg_jsonschema
    #     dockerfile: ../pg_jsonschema/Dockerfile
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: