[package]
name = "postgresql_crud"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
strum_macros = {version = "=0.24.3"}
futures = {version = "=0.3.28"}
uuid = {version = "=1.10.0", features = ["serde", "v4"]}
generate_postgresql_crud = {path = "./generate_postgresql_crud"}
generate_postgresql_json_type = {path = "./generate_postgresql_json_type"}
generate_postgresql_json_types = {path = "./generate_postgresql_json_types"}
generate_postgresql_types = {path = "./generate_postgresql_types"}
postgresql_crud_common = {path = "./postgresql_crud_common"}
app_state = {path = "../app_state"}
http_logic = {path = "../http_logic"}
naming = {path = "../naming"}
route_validators = {path = "../route_validators"}

[lints]
workspace = true
