[package]
name = "postgresql_crud"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
strum_macros.workspace = true
futures.workspace = true
uuid.workspace = true
postgresql_crud_common = {path = "./postgresql_crud_common", features = ["test-utils"]}
postgresql_table = {path = "./postgresql_table"}
postgresql_json_object_type = {path = "./postgresql_json_object_type"}
postgresql_json_types = {path = "./postgresql_json_types"}
postgresql_types = {path = "./postgresql_types"}
where_filters = {path = "./where_filters"}
route_validators = {path = "../route_validators"}

[lints]
workspace = true

[features]
test-utils = [
    "postgresql_crud_common/test-utils",
    "postgresql_table/test-utils",
    "postgresql_json_object_type/test-utils",
    "postgresql_json_types/test-utils",
    "postgresql_types/test-utils",
    "where_filters/test-utils"
]
