[package]
name = "postgresql_crud_common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
utoipa = {version = "=4.1.0", features = ["axum_extras"]}
sqlx = {version = "=0.7.3", features = ["postgres", "uuid", "bigdecimal", "rust_decimal", "chrono", "time", "bit-vec", "runtime-tokio", "ipnetwork", "mac_address", "bit-vec", "json"]}
serde = {version = "=1.0", features = ["derive"]}
serde_json = {version = "=1.0"}
time = {version = "=0.3.36", features = ["serde"]}
num-bigint = {version = "=0.4.4"}
strum = {version = "=0.24.1"}
strum_macros = {version = "=0.24.3"}
thiserror = {version = "=1.0.48"}
uuid = {version = "=1.10.0", features = ["serde", "v4"]}
schemars = {path = "../../schemars/schemars"}#todo migrate for newer version of schemars. "0.8.21" is not correctly validate int types (like its float)
postgresql_crud_types_macro_logic_reuse = {path = "./postgresql_crud_types_macro_logic_reuse"}
error_occurence_lib = {path = "../../error_occurence_lib"}
enum_extension_lib = {path = "../../enum_extension_lib"}
naming = {path = "../../naming"}
from_str = {path = "../../from_str"}

[lints]
workspace = true