[package]
name = "postgresql_crud_common"
version = "0.1.0"
edition = "2024"

[dependencies]
utoipa = {version = "=4.1.0", features = ["axum_extras"]}
uuid.workspace = true
sqlx.workspace = true
serde.workspace = true
thiserror = {version = "=1.0.48"}
schemars = {version = "=0.8.22"}
error_occurence_lib = {path = "../../error_occurence_lib"}
from_str = {path = "../../from_str"}
naming = {path = "../../naming"}
postgresql_crud_common_and_macros_common = {path = "../postgresql_crud_common_and_macros_common"}

[features]
test-utils = []

[lints]
workspace = true