[workspace]
members = [
  "proc_macros/compile_time_git_info",
  "proc_macros/enum_extension",
  "proc_macros/error_occurence",
  "proc_macros/gen_enum",
  "proc_macros/gen_enum_without_values",
  "proc_macros/generate_getter_traits_for_struct_fields",
  "proc_macros/init_from_env_with_panic_if_failed",
  "proc_macros/provider_kind_from_config",
  "proc_macros/svg_component",
  "tufa_client",
  "tufa_common",
  "tufa_server",
  "tufa_telegram_bot",
  "tufa_grpc_client",
  "tufa_grpc_server",
]
# exclude = [
#   "your_exclude_member_here",
# ]

#something to delete
