[workspace]
resolver = "2"
members = [
  "integration_tests",
  "proc_macros/compile_time_git_info",
  "proc_macros/enum_extension",
  "proc_macros/error_occurence",
  "proc_macros/from_sqlx_postgres_error",
  "proc_macros/from_str",
  "proc_macros/generate_getter_traits_for_struct_fields",
  "proc_macros/generate_postgresql_crud",
  "proc_macros/init_from_env",
  "proc_macros/type_variants_from_reqwest_response",
  "proc_macros/svg_component",
  "proc_macros/user_port_try_from_u16",
  "tufa_common",
  "tufa_server",
  "tufa_telegram_bot"
]
exclude = [
  "tufa_client",
  "tufa_grpc_client",
  "tufa_grpc_server",
]

[workspace.lints.rust]
unsafe_code = "forbid"
