name: PostgreSQL Service

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: ghcr.io/kuqmua/postgresql_16_with_pg_jsonschema:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Rust Nightly
      uses: dtolnay/rust-toolchain@nightly

    - name: Run tests
      env:
        SERVICE_SOCKET_ADDRESS: "127.0.0.1:8080"
        TIMEZONE: "10800"
        REDIS_URL: "redis://127.0.0.1:6379"
        DATABASE_URL: "postgres://postgres:postgres@127.0.0.1:5432/postgres"
        TRACING_LEVEL: "debug"
        SOURCE_PLACE_TYPE: "source"
        ENABLE_API_GIT_COMMIT_CHECK: "true"
        MAXIMUM_SIZE_OF_HTTP_BODY_IN_BYTES: "1048576000"
      run: RUST_LOG=sqlx=debug cargo test --features test-utils -- --nocapture
