name: PostgreSQL Service

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dev
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - name: Connect to PostgreSQL
      run: |
        pg_isready -h localhost -p 5432
        psql postgresql://postgres:postgres@127.0.0.1:5432/postgres -c "SELECT version();"

    - name: Install Rust Nightly
      uses: actions-rust-lang/cargo@v1
      with:
        toolchain: nightly

    - name: Run tests
      env:
        SERVICE_SOCKET_ADDRESS: "127.0.0.1:8080"
        TIMEZONE: "10800"
        REDIS_URL: "redis://127.0.0.1:6379"
        DATABASE_URL: "postgres://postgres:postgres@127.0.0.1:5432/postgres"
        TRACING_LEVEL: "debug"
        SOURCE_PLACE_TYPE: "source"
        ENABLE_API_GIT_COMMIT_CHECK: "true"
        MAXIMUM_SIZE_OF_HTTP_BODY_IN_BYTES: "1048576000"
      run: |
        rustc --version
        RUST_LOG=sqlx=debug cargo test --features test-utils -- --nocapture